{% extends "base.html" %}
{% block title %}Последние обновления на сайте{% endblock %}
{% load cache %}
{% block header %}Последние обновления на сайте{% endblock %}
{% block content %}

    <div class="col-md-12">
        {% include "menu.html" with index=True %}
        {% cache 200 index_page %}
        {% for post in page %}
            {% include "post_item.html" with group_flag=True %}
            {% if not forloop.last %}{% endif %}
        {% endfor %}
        {% endcache %} 
    </div>
    
    {% include "paginator.html" %}

{% endblock %}
