{% extends "base.html" %}
{% block title %}Записи пользователя{% endblock %}
{% block content %}
{% load user_filters %}

<main role="main" class="container">
  <div class="row">
    {% include "profile_item.html" %}
    <div class="col-md-9">
      {% include "post_item.html" with post=post %}
      {% if request.user.is_authenticated %}
        <div class="card my-4">
            <form method="post" action="{% url 'add_comment' username=post.author.username post_id=post.id %}">
                {% csrf_token %}
                <h6 class="card-header">Добавить комментарий:</h6>
                <div class="card-body">
                    <div class="form-group">
                        {{ form.text|addclass:"form-control" }}
                    </div>
                    <button type="submit" class="btn btn-primary">Отправить</button>
                </div>
            </form>
        </div>
      {% endif %}
      {% include 'comments.html' %}
</main>
{% endblock %}